---
---

:root[data-mode="dark"] {
  /* ========== Framework color ========== */
  /* --main-bg: rgb(27 27 30) !important; */
  /* --mask-bg: rgb(68 69 70) !important; */
  /* --main-border-color: rgb(44 45 45) !important; */

  /* ========== Common color ========== */
  /* --text-color: rgb(175 176 177) !important; */
  /* --text-muted-color: #868686 !important; */
  /* --heading-color: #cccccc !important; */
  /* --link-color: rgb(138 180 248) !important; */
  /* --link-underline-color: rgb(82 108 150) !important; */
  /* --button-bg: #1e1e1e !important; */
  /* --btn-border-color: #2e2f31 !important; */
  /* --card-header-bg: #292929 !important; */
  /* --checkbox-checked-color: var(--link-color) !important; */

  /* ========== Sidebar ========== */
  /* --site-title-color: #717070 !important; */
  /* --site-subtitle-color: #868686 !important; */
  /* --sidebar-bg: #1e1e1e !important; */
  /* --sidebar-active-color: rgb(255 255 255 / 95%) !important; */
  /* --sidebar-hover-bg: rgba(30, 142, 130, 0.2) !important; */
  /* --sidebar-btn-bg: #232328 !important; */
  /* --sidebar-btn-color: #787878 !important; */

  /* ========== Topbar ========== */
  /* --topbar-bg: rgb(27 27 30 / 64%) !important; */
  /* --search-border-color: rgb(55 55 55) !important; */
  /* --input-focus-border-color: rgb(112 114 115) !important; */

  /* ========== Home page ========== */
  /* --post-list-text-color: rgb(175 176 177) !important; */
  /* --btn-paginator-hover-color: #2e2e2e !important; */

  /* ========== Posts ========== */
  /* --toc-highlight: rgb(116 178 243) !important; */
  /* --tag-hover: rgba(30, 142, 130, 0.3) !important; */
  /* --btn-share-color: #6c757d !important; */
  /* --btn-share-hover-color: #bfc1ca !important; */
  /* --card-bg: #1e1e1e !important; */
  /* --card-hovor-bg: rgba(30, 142, 130, 0.2) !important; */

  /* ========== Tags ========== */
  /* --tag-border: #1E8E82 !important; */
  /* --tag-shadow: rgb(32 33 33) !important; */
  /* --search-tag-bg: #292828 !important; */

  /* ========== Categories ========== */
  /* --categories-border: rgb(64 66 69 / 50%) !important; */
  /* --categories-hover-bg: rgba(30, 142, 130, 0.3) !important; */
  /* --categories-icon-hover-color: white !important; */

  /* ========== Archives ========== */
  /* --timeline-node-bg: rgb(150 152 156) !important; */
  /* --timeline-color: rgb(63 65 68) !important; */
}